

body, html {
	height: 100%;
	font-family: 'Alegreya Sans', sans-serif;
}

.card {
	margin-bottom: 15px;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

@media (max-width: 768px) {
	#header {
		text-align: center;	
	}
	#header img {
		margin: 25% auto 0;		
	}

	#header .inline {
	color: blue;
	font-size: 20px;
	}

	#header .lead {
	font-size: 15px;
	}				
	#header .about-box {
	font-size: 12px;
	text-align: left;
	}
	#header .h4 {
	font-size: 17px;
	}
	#header .header-right {
	background-color: rgba(0,0,0,0.4);
	padding: 1px;
	border-radius: 10px;
	margin: 5%;
	border: 1%;
	}

	#header .header-left {
	background-color: rgba(0,0,0,0.4);
	padding: 1px;
	border-radius: 10px;
	margin: 5%;
	border: 1%;
	}

	#header .chevron{
	display: none;
	}

	#header2 {
	margin-top: 70%;
	}
}

.navbar {
	background-color: rgb(21,31,33,0.5);
	border-bottom: 1px solid #dedede;
	font-family: 'Alegreya Sans', sans-serif;
}

.navbar .navbar-nav .nav-link {
	color: #d1d1d1; 
}

.navbar .navbar-nav .nav-link:hover {
	color: #fff; 
}

.navbar-toggler-icon {
	color: #fff;
}

.navbar-brand img {
	height: 50px;
	width: 50px;
	font-family: 'apple chancery';
}

/*HEADER*/

#header {
	background: url("amorsolo3.jpg") center center no-repeat;
	background-size: cover;
	height: 100%;
	color: white;
	display: flex;
	align-items: center;
}

#header2 {
	background-color: white;
	color: black;
	display: flex;
	align-items: center;
	padding-top: 10%;
	padding-bottom: 10%;
}

#header img {
	padding: 0 0 30px 0;
	width: 100px;
}

#header .inline {
	color: blue;	
}

#header .lead {
	color: white;
	font: bold;
	}	

#header2 .lead {
	color: black;
	font: bold;
	}	

#header .header-right {
	background-color: rgba(0,0,0,0.4);
	padding: 2px;
	border-radius: 0px 10px 10px 0px;
	margin-top: 2px;
}

#header .header-left {
	background-color: rgba(0,0,0,0.4);
	padding: 20px;
	border-radius: 10px 0px 0px 10px;
	margin-top: 2px;
}

#header2 .header-right {
	background-color: rgba(0,0,0,0.03);
	padding: 20px;
	border-radius: 0px 10px 10px 0px;
	margin-top: 2px;
}

#header2 .header-left {
	background-color: rgba(0,0,0,0.03);
	padding: 20px;
	border-radius: 10px 0px 0px 10px;
	margin-top: 2px;
}

#header2 .row {
	margin: 5px;
}

#header .fa {
	margin: 5% 0;
}

#header a .fa {
	color: #fff;
}

#header a .fa:hover {
	color: #ccc;
}

#header .about-box {
	color: cyan;
	margin: 10%;
}

/*ANUNCIOS*/

#anuncios {
	padding: 5rem 0;
	background-color:#fff;
}

#anuncios .btn-anuncios {
	background-color: #be2835;
	color: #fff;
	width: 50%;
}

#anuncios .btn-anuncios:hover {
	background-color: transparent;
	border: 1px solid #be2835;
	color: #be2835;
}

/* ENLACES */

#enlaces {
	padding: 5rem 0;
	background-color: #f6f6f6;
}

#enlaces .fa {
	color: #be2835;
	padding: 15px 0;
}

/* ACTIVIDADES */

#actividades {
	padding: 5rem 0;
}

#actividades .actividades-img {
	position: relative;
}

#actividades .actividades-img .img-overlay {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	background-image: url(../img/eye.png);
	background-position: center center;
	background-repeat: no-repeat;
	opacity: 0;
	z-index: 0;
	transition: all 0.3s ease-in-out;
}

#actividades .actividades-img .img-overlay:hover {
	opacity: 1;
	z-index: 1;
}


/* MENSAJES */

#mensajes {
	padding: 5rem 0;
	overflow: hidden;
	background-color: #f6f6f6;
}

#mensajes .carousel-indicators li {
	background-color: #be2835;
}

#mensajes .carousel-inner {
	margin-bottom: 50px;
}

#mensajes .carousel-indicators {
	margin-bottom: -50px;
}


/*CONECTAR*/

#conectar {
	padding:4.25rem 0;
}

#conectar .fa {
	font-size: 2em;
	color:#be2835;
	border:2px solid #be2835;
	width: 70px;
	height: 70px;
	border-radius: 30%;
	text-align: center;
	padding: 25% 0;
	margin-top: 10px;
	transition: all 0.4s ease-in-out;
}

#conectar .fa:hover {
	color: #fff;
	background: #be2835;
}

/* CONTACT */

#contact {
	padding: 5rem 0;
	background-color: #f6f6f6;
}

/* FOOTER */

#footer {
	padding: 2rem 0;
	background-color: #484848;
	color: white;
}

#footer a {
	color: white;
}

#footer .fa {
	padding: 0 5px;
}




