---
layout: default
title: Oferta
---

    <!-- OFERTA -->
      <section id="header2">
        <div class="container">             
          <div class="row">
            <h1>Oferta de trabajo</h1><br>          
          </div>
            <div class="tab">
              <button class="tablinks" onclick="openCity(event, 'stefanini')"><h4>Stefanini<h4></h4></button>
              <button class="tablinks" onclick="openCity(event, 'jk')"><h4>J-K Network Services<h4></button>
            </div>

            <div id="stefanini" class="tabcontent">
              {% include oferta_stefanini.html %}
            </div>

            <div id="jk" class="tabcontent">
              {% include oferta_jk.html %}
            </div>            
            
        </div>
      </section>    

    <!-- END OFERTA -->

    <!-- START OF OFERTA V2 -->
    <script>
      function openCity(evt, cityName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
      }
    </script>
    <!-- END OF OFERTA V2 -->

