---
layout: default
title: Oferta
---

    <!-- OFERTA -->
      <section id="header2">
        <div class="container">             
          <div class="row">
            <h1>Oferta de trabajo</h1><br>          
          </div>
            <div class="tab">
              <button class="tablinks" onclick="openCity(event, 'stefanini')"><h4>Stefanini<h4></h4></button>
              <button class="tablinks" onclick="openCity(event, 'jk')"><h4>J-K Network Services<h4></button>
            </div>

            <div id="stefanini" class="tabcontent">
              {% include oferta_stefanini.html %}
            </div>

            <div id="jk" class="tabcontent">
              {% include oferta_jk.html %}
            </div>            
            
        </div>
      </section>    

    <!-- END OFERTA -->

