
h1 {text-align: center; font-family: 'apple chancery'; font-weight: 5000; font-size: 50px}

h1.title {color:blue}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}
/* CSS Positioning */



.box {
	background: gray;
	color: #B3CA68;
	height: 220px;
	width: 455px;
	margin: 20px 10px 50px;
	padding: 10px 10px 40px;
	border-radius: 20px;
}


}