---
layout: default
title: Viajes
---

    <!-- VIAJES -->
      <section id="header2">
        <div class="container"> 

        <div class="row">
        	<h1>Viajes</h1>                 
        </div>
        <div class="row">
          <h5>De vez en cuando, nuestro grupo organiza una visita guiada a sitios históricos y otros sitios del patrimonio.</h5>                   
        </div>

<!-- Majayjay -->
        <div class="row">
            <div class="col-md-5 header-left">              
              <h2 class="inline">Majayjay Laguna</h2>
              <p class="font-italic small">APA Farms, 13 de enero de 2018</p>            
              <p>Fiesta de año nuevo</p>
              <p>Esta sección se actualizará pronto</p>
            </div>
                                   
            <div class="col-md-7 header-right">              
              <h2 class="inline text-center">Fotos</h2>
              <p class="text-center">Las fotos del viaje</p> 
              <div id="mycarousel" class="carousel slide" data-ride="carousel">

                <ol class="carousel-indicators"> 
                  {% for viajes_majayjay in site.data.viajes_majayjay %}  
                  {% if forloop.first == true %}                            
                  <li data-target="#mycarousel" data-slide-to="0" class="active"></li> 
                  {% else %}
                  <li data-target="#mycarousel" data-slide-to="{{ forloop.index0 }}"></li> 
                  {% endif %}
                  {% endfor %}                                
                </ol>
                                
              <div class="carousel-inner"> <!-- Carousel item 1 -->  
                {% for viajes_majayjay in site.data.viajes_majayjay %}  
                <div class="carousel-item {% if forloop.first %}active{% endif %}"> 
                    <div class="carousel-caption d-none d-md-block">
                      <h5>{{ viajes_majayjay.caption }}</h5>                    
                    </div>               
                  <img class="img-fluid" src="{{ viajes_majayjay.source }}" style="width:100%;">                  
                </div>
                {% endfor %} 
              </div>  
            </div>  
              <div>

                <a class="carousel-control-prev" href="#mycarousel" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#mycarousel" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              
              </div>
        </div>
        </div>    

<!-- Baler 2017 -->
        <div class="row">
            <div class="col-md-5 header-left">              
              <h2 class="inline">15.° día de la amistad entre Filipinas y España</h2>
              <p class="font-italic small">Baler Aurora, 30 de junio de 2017</p>  
              <p>Esta sección se actualizará pronto</p>               
            </div>
                                   
            <div class="col-md-7 header-right">              
              <h2 class="inline text-center">Fotos</h2>
              <p class="text-center">Las fotos del viaje</p>
             <div id="mycarousel2" class="carousel slide" data-ride="carousel">
                               
                <ol class="carousel-indicators"> 
                  {% for viajes_baler2017 in site.data.viajes_baler2017 %}  
                  {% if forloop.first == true %}                            
                  <li data-target="#mycarousel" data-slide-to="0" class="active"></li> 
                  {% else %}
                  <li data-target="#mycarousel" data-slide-to="{{ forloop.index0 }}"></li> 
                  {% endif %}
                  {% endfor %}                                
                </ol>
                
              <div class="carousel-inner"> <!-- Carousel item 1 --> 
                {% for viajes_baler2017 in site.data.viajes_baler2017 %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                  <img src="{{ viajes_baler2017.source }}" style="width:100%;"> 
                    <div class="carousel-caption d-none d-md-block">
                      <h5>{{ viajes_baler2017.caption }}</h5>                    
                    </div>                 
                </div>
                {% endfor %}                
                                      
            </div>  
        </div>   
               <div>
                <a class="carousel-control-prev" href="#mycarousel2" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#mycarousel2" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
        </div>
      </section>
    
    <!-- END VIAJES -->

