
<!-- CONECTAR -->
      <section id="conectar">
        <div class="container wow fadeInUp" data-wow-delay="0.5" data-wow-duration="1s">
          <div class="row">
           <div class="col-md-6">
              <h2>Conectate con nosotros:</h2>
              <hr align="left" width="50%">
             <p>........</p>
            </div>

            <div class="col-md-6">
              <ul class="list-inline">
                <li class="list-inline-item"> <a target="new-tab" href="https://www.facebook.com/groups/132286067475473/" ><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"> <a target="new-tab" href="https://www.meetup.com/Manila-Spanish-Language-Meetup/"><i class="fa fa-meetup"></i></a></li>
                <li class="list-inline-item"> <a target="new-tab" href="https://www.youtube.com/channel/UCQ9vngxV0tFDFeTDFQdfa3g"><i class="fa fa-youtube"></i></a></li>

                
               
              </ul>  
            </div>
          </div>  
        </div>
      </section>

    <!-- END CONECTAR -->