
<!-- ENLACES -->

    <section id="enlaces">
      <div class="container text-center">

          <div class="row">
            <div class="col-md-12 wow fadeIn">
              <h2>Enlaces y otros recursos</h2>
              <hr width="30%">
              <p>.....</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 wow fadeIn" data-wow-delay="0.2s">
              <a href="mejorar.html"><i class="fa fa-book fa-3x"></i>  
              <h3>Mejorar tu español</h3></a>
              <p>Esta sección se actualizará pronto.</p>
            </div>
                    
            <div class="col-md-4 wow fadeIn" data-wow-delay="0.3s">
              <a href="practicar.html"><i class="fa fa-users fa-3x"></i>
              <h3>Practicar</h3></a>
              <p>Practicar con meetup.com y app de Duolingo</p>
            </div>
          
            <div class="col-md-4 wow fadeIn" data-wow-delay="0.4s">
              <a href="oferta.html"><i class="fa fa-briefcase fa-3x"></i>  
              <h3>Oferta de trabajo</h3></a>
              <p>Oferta de trabajo para hispanohablantes</p>
            </div>
          </div>

      </div>
    </section>

    <!-- END ENLACES -->