
<!-- FOOTER -->
      <section id="footer">
        <div class="container wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.5s">

          <div class="row">
            <div class="col-md-6 col-sm-6">
              <h3>La Sociedad Hispano-Filipina</h3>              
               
              <!-- <ul class="list-inline">
                <li class="list-inline-item"> <a href="#"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"> <a href="#"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"> <a href="#"><i class="fa fa-instagram"></i></a></li>
                <li class="list-inline-item"> <a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                <li class="list-inline-item"> <a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li class="list-inline-item"> <a href="#"><i class="fa fa-rss"></i></a></li>
              </ul> -->            
            </div>  
            
            <div class="col-md-6 col-sm-6">              
                
                {% if page.title != "Contactar" %} 
                <ul class="list-unstyled">  
                  <li><p><strong><i class="fa fa-envelope"></i><a href="contactar.html" target="new-tab">Contacta con nosotros aquí</a></strong></p></li>
                </ul>
                {% endif %}

                {% if page.title != "Chatear" %} 
                <ul class="list-unstyled">  
                  <li><p><strong><i class="fa fa-comments"></i><a href="chatear.html" target="new-tab">Chatea con nosotros aquí</a></strong></p></li>
                </ul>
                {% endif %}
            
                 
                  <!-- <li><p><strong><i class="fa fa-map-marker"></i> Address:</strong> Location, Street, Code</p></li>
                  <li><p><strong><i class="fa fa-envelope"></i> Email:</strong> <a href="#">info@randomemail.com</a></p></li>
                  <li><p><strong><i class="fa fa-phone"></i> Phone:</strong> +6(32)6243538 </p></li> -->
                
            </div>     
          </div>
          
          <div class="row">
            <div class="col-md-6">
              <p>&copy; 2018 Diseñado por Jem</p>  
            </div>
            
                

          </div>
        </div>        
      </section>

    <!-- END FOOTER -->