
<style>
  .carousel-item {
    height: 200px;
  }
</style>
<!-- MENSAJES -->

    <section id="mensajes">
      <div class="container text-center wow fadeInUp" data-wow-delay="0.2s">
        <div class="row">
          
          <div class="col">
            <h2>Mensajes</h2>
            <hr width="30%">
            <p>Mensaje de miembros y amigos...</p>
          </div>
        </div>

          <div class="row">
            
            <div class="col">
              <div id="quotes" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#quotes" data-slide-to="0" class="active"></li>
                  <li data-target="#quotes" data-slide-to="1"></li>
                  <!--<li data-target="#quotes" data-slide-to="2"></li> -->
                </ol>
              <div class="carousel-inner">

                <div class="carousel-item active":=> <!-- Carousel item 1 -->
                  <blockquote class="blockquote">
                  <p class="mb-0 font-italic">El lanzamiento de este sitio es un éxito de nuestro grupo. También es como un mojón que marca  la distancia de nuestro objetivo y lo que hemos realizado. Sabemos que hay muchas cosas que tenemos hacer para promover y mantener lo vivo el idioma español, y animar  los que aprendan la lengua. Por medio de este sitio, tendrémos más oportunidades de intercambiar ideas, historias y conocimientos sobre la cultura hispano-filipina especialmente las cosas que tienen influencia a nuestra vida diaria.</p>
                  <footer class="blockquote-footer">Ruel C. Limbo</footer>              
                  </blockquote>
                </div>
                
                
                <div class="carousel-item">
                  <blockquote class="blockquote"> <!-- Carousel item 2 -->
                  <p class="mb-0">La lengua castellana es una herencia perdida para los filipinos. Y con la ayuda de este grupo, podemos dar cuenta que este idioma no es solamente un idioma de los colonizadores sino también un idioma propria a nuestras islas.</p>
                  <p>Felicitaciones a los miembros de la SOCIEDAD HISPANO-FILIPINA por su trabajo en la divulgación de este idioma. Eso ayudará mucho en revivir la conciencia hispana de nuestra gente.</p>
                  <footer class="blockquote-footer">Jayzl</footer>                   
                </blockquote>
                </div>
                <!--<div class="carousel-item">
                  <blockquote class="blockquote"> <!-- Carousel item 3 -->
                <!--  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                  <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                
                  </blockquote>
                </div> -->

               
                </div>

              </div>
                
            </div>

          </div>
          </div>
        </div>
      </div>
      
    </section>

    <!-- END MENSAJES -->