


<!-- MISIÓN -->
      <section id="header">
        <div class="container"> 
          <div class="row">
            <div class="col-md-6 header-left wow fadeIn" data-wow-delay="1s" data-wow-duration="2s">
              <img src="img/logo-small.png" class="img-fluid"/>
              <h2 class="inline">SOCIEDAD HISPANO-FILIPINA</h2>
              <p class="lead">¡No apaguemos el flujo de poesías, canciones, comedias, entretenimientos, noticias y novelas que ya existían mucho antes de que el inglés y el tagalo se nos impusieran como idioma obligatorio!</p>
              
            </div>                
          

        <div class="col-md-6 col-sm-6 header-right wow fadeIn" data-wow-delay="1.5s" data-wow-duration="2s">
              <div>               
                <div class="about-box">
                  <h4 class="h4">Nuestra misión</h4>
                  <ul>
                  <li>Divulgar, difundir, promover y mantener lo vivo el idioma español. </li>
                  <li>Animar a los Filipinos que aprendan español. </li>
                  <li>Crear oportunidades para practicar y disfrutar el idioma como por ejemplo viajes, reuniones, lecturas, deportes, conferencias o cualquier actividad interesante. </li>
                  <li>Celebrar la existencia de la cultura hispana en Filipinas.</li>
                  <li>Vincular a todos los grupos hispanohablantes.</li>
                  </ul>
                  </p>
                </div>
              </div>
            </div>
              
              </div>                    
        <div class="row wow swing" data-wow-delay="2s">
                <div class="col-md-12 text-center chevron">
                <a href="#anuncios"> <i class="fa fa-chevron-down fa-3x" aria-hidden="true"> </i> </a>
                </div>    
              </div>
        </div>
      </section>
    
    <!-- END MISIÓN -->