
	<div class="row">
         <p class="font-small font-italic">Última actualización: 30 de octubre de 2018</p>              
    </div>
               
        <div>
              <table>
                <tr>
                  <td>Favor de enviar tu CV a:</td>
                  <td><a href="mailto:kristinekay.roble@stefanini.com">kristinekay.roble@stefanini.com</a></td>
                </tr>
                <tr>
                  <td>Address:</td>
                  <td>5th Floor, Imet BPO Twr 1, Metropolitan Park, Macapagal Boulevard cor. EDSA Extension, Pasay City 1300</td> 
                </tr>                                 
              </table>
        </div>      	

	<div class="col-md-10 header-left">  <!-- Oferta 1 -->            
        <h4 class="inline">Multilingual Helpdesk Technician (Spanish) - Stefanini Philippines Inc.</h4>
        <table>  
                <tr>
                  <td><strong>Offer: 60K-80K</strong></td>
                  <td>Spanish 1st Level Technical Support</td>                 
                </tr>
        </table>

	<div class="unselectable wrap-text" id="job_description"> 
		<div><strong>Job Responsibilities:</strong></div>
			<ul>
				<li>Provide professional end-user support via telephone, email, or web</li>
				<li>Provide restorative or maintenance actions to resolve end-user problems</li>
				<li>Able to resolve account specific technical, customer, end-user issues</li>
				<li>Responds to end-user problems based on standard procedures</li>
				<li>Must correctly track incidents and calls, including but not limited to entering data into the database timely and accurately</li>
			</ul>
		<div><strong>Job Requirements:</strong></div>
			<ul>
				<li>Bachelor&rsquo;s degree or vocational in IT-related courses is a plus.</li>
				<li>Minimum of completed two (2) years in college or has finished a Diploma/Certificate course.</li>
				<li>Excellent in oral and written English and Spanish communication</li>
				<li>Excellent customer service skills.</li>
				<li>Must consistently meet or exceed required performance criteria.</li>
				<li>Able and willing to take several calls a day when necessary.</li>
				<li>Familiarity and good working knowledge of PC hardware and software troubleshooting.</li>
				<li>Prior Software Application support (e.g. Outlook, etc.) experience is a plus.</li>
				<li>Prior BPO experience in Technical Support is a plus.</li>
				<li>Familiarity with the ticketing system, a strong advantage.</li>
				<li>Must be willing to work in different shifts.</li>
			</ul> 
		</div>
	</div>
