
    <!-- OFERTA -->
     
        <div class="row">
          <h4><a href="https://jkmanpower.jp-network-e.com/" target="new-tab"><b>J-K Network Services</b></h4></a>              
        </div>
        <p class="font-small font-italic">Última actualización: 11 de octubre de 2018</p>
        <h5>Si está interesado en las ofertas de trabajo, comuníquese con J-K Network Services directamente aquí <a href="https://jkmanpower.jp-network-e.com/" target="new-tab">https://jkmanpower.jp-network-e.com</a> o dejarnos un mensaje en el chat widget a abajo.</h5>
        
        <div class="row">

          <div>
              <table>
                <tr>
                  <td>Email:</td>
                  <td><a href="mailto:jkrecruit@jp-network-e.com">jkrecruit@jp-network-e.com</td>                 
                </tr>
                <tr>
                  <td>Mobile:</td>
                  <td>0936-973-4185/ 09426682269</td> 
                </tr> 
                 <tr>
                  <td>Landline:</td>
                  <td>(02) 932-0963</td>                 
                </tr> 
                <tr>
                  <td>Skype:</td>
                  <td>jkrecruit</td>                 
                </tr> 
                <tr>
                  <td>WhatsApp/Viber:</td>
                  <td>0936-973-4185</td>                 
                </tr>   
              </table>
            </div>
           
            <div class="col-md-10 header-left">  <!-- Oferta 1 -->            
              <h4 class="inline">1. Leading provider of Business travel management across the world. They have about 50 offices and currently employing 17,000 employees.</h4>
              <table>  
                <tr>
                  <td><strong>Position:</strong></td>
                  <td>Spanish 1st Level Technical Support</td>                 
                </tr>
                <tr>
                  <td>Industry:</td>
                  <td>BPO Company</td>                 
                </tr>
                 <tr>
                  <td>Salary:</td>
                  <td>P75,000 (Negotiable)</td>                 
                </tr>
                 <tr>
                  <td>Location:</td>
                  <td>Makati City</td>                 
                </tr>
                 <tr>
                  <td>Schedule:</td>
                  <td>Midshift/ Night Shift (Weekends Off)</td>                 
                </tr>
              </table>
              <div>
                <br>
                <h5>Benefits</h5>
                <ul>
                  <li>Basic Salary</li>
                  <li>Monthly Allowance</li>
                  <li>Language Premium</li>
                  <li>HMO</li>
                  <li>Monthly Incentives</li>
                  <li>Quarterly Bonus</li>
                </ul>            
              </div>
              <div>
                <h5>Requirements</h5>
                  <ul>
                    <li>Preferably Non- Native Spanish Speaker</li>
                    <li>Background in Technical Support is preferred</li>
                    <li>At least 1 year Customer Service/ Technical Support experience</li>
                    <li>Open for High school/ College Level</li>
                  </ul>
              </div>
              <div>
                <h5>Responsibilities:</h5>
                  <ul>
                    <li>Responsible in providing First Level Resolution and escalation</li>
                    <li>Provide quality of customer service in calls and emails</li>
                    <li>Responsible in technical trouble shooting</li>
                    <li>Ensure that all the given information has been closely disseminate</li>
                    <li>Providing good information to traveler</li>
                    <li>Making sure that all the necessary information to customers has been properly share</li>
                    <li>Guide customer with their travel concerns</li>
                  </ul>
              </div>   
            </div>                                                                                   
        </div>    

        <div class="row">
            <div class="col-md-10 header-left"> <!-- Oferta 2 -->                
              <h4 class="inline">2. One of the longest established Certification Authorities (CA) and specialists in Digital Certificate security catering online security needs of the local market.</h4>
              <table>  
                <tr>
                  <td><strong>Position:</strong></td>
                  <td>Spanish Vetting Analyst</td>                 
                </tr>
                <tr>
                  <td>Industry:</td>
                  <td>BPO Company</td> 
                </tr>                                 
                <tr>
                  <td>Location:</td>
                  <td>Makati City</td>                 
                </tr>                 
                 <tr>
                  <td>Salary:</td>
                  <td>P60,000</td>                 
                </tr>
                 <tr>
                  <td>Schedule:</td>
                  <td>Night Shift</td>                 
                </tr>
              </table>
              <div>
                <br>
              <div>
                <h5>Responsibilities:</h5>
                  <ul>
                    <li>Research, investigate and comply with vetting regulations and procedures</li>
                    <li>Verify information for the issuance of digital certificates (interpretation might be required)</li>
                    <li>Assists with the translation of the website</li>
                    <li>Assists with Vetting or support issues</li>
                    <li>Ensure that requests are met in a timely and professional manner</li>
                  </ul>
              </div>   
              <div>
                <h5>Requirements</h5>
                  <ul>
                    <li>Proficient in speaking, reading & writing Spanish</li>
                    <li>Open for Native and Non- Native Spanish Speaker</li>
                    <li>Good communication skills in English</li>
                    <li>Experience in the same field is an advantage but not required</li>
                    <li>Willing to work in Makati City</li>
                  </ul>
              </div>                       
            </div>  
          </div>
        </div>  
        
          <div class="row">
            <div class="col-md-10 header-left"> <!-- Oferta 3 -->                
              <h4 class="inline">3. One of the longest established Certification Authorities (CA) and specialists in Digital Certificate security catering online security needs of the local market.</h4>
              <table>
                <tr>
                  <td><strong>Position:</strong></td>
                  <td>Spanish Technical Support</td>                 
                </tr>
                <tr>
                  <td>Industry:</td>
                  <td>BPO Company</td> 
                </tr>    
                <tr>
                  <td>Salary:</td>
                  <td>P65,000</td>                 
                </tr>   
                <tr>
                  <td>Schedule:</td>
                  <td>Night Shift</td>                 
                </tr>                          
                <tr>
                  <td>Location:</td>
                  <td>Makati City</td>                 
                </tr>                                                   
              </table>
              <div>
                <br>
               <div>
                <h5>Requirements</h5>
                  <ul>
                    <li>Proficient in speaking, reading and writing Spanish</li>                    
                    <li>Good English communication skills</li>
                    <li>Open for Native and Non- Native Spanish Speaker</li>
                    <li>Background in TSR/ IT and related field is a plus</li>
                    <li>Amenable to work in Makati City</li>
                  </ul>
              </div>
              <div>
                <h5>Responsibilities:</h5>
                  <ul>
                    <li>Research, investigates and resolve customer’s technical concerns</li>
                    <li>Responds to company emergencies concerning with technical issues</li>
                    <li>Serves and handle escalations in assisting installation of the company product</li>
                    <li>Provide Tier 3 technical support</li>
                    <li>Deals with customer with excellent service level agreement</li>
                    <li>Responsible in providing Technical and Helpdesk support</li>
                  </ul>
              </div>                                       
            </div> 
           </div> 
        </div>  

        <div class="row">
            <div class="col-md-10 header-left"> <!-- Oferta 4 -->                
              <h4 class="inline">4. It is a leading BPO company known for their multichannel customer services. They have digital solution, analytic solution BPO non-interaction, best location, contact center, internet interaction, VIP and specialized solution and connection. They have been providing customer support for since 1978.</h4>
              <table>
                <tr>
                  <td><strong>Position:</strong></td>
                  <td>Spanish Bilingual Student Loans Associate</td>                 
                </tr>
                <tr>
                  <td>Industry:</td>
                  <td>BPO Company</td> 
                </tr> 
                <tr>
                  <td>Location:</td>
                  <td>Baguio/ Pasig City</td>                 
                </tr>    
                <tr>
                  <td>Salary:</td>
                  <td>Negotiable</td>                 
                </tr>   
                <tr>
                  <td>Schedule:</td>
                  <td>Shifting Schedule</td>                 
                </tr>                          
                                                                  
              </table>
              <div>
                <br>
               <div>
                <h5>Requirements</h5>
                  <ul>
                    <li>Preferably Non-Native Spanish</li>
                    <li>Excellent English communication skills</li>
                    <li>At least High School Graduate</li>
                    <li>BPO experience is a big plus</li>
                    <li>Willing to answer English and Spanish calls</li>
                  </ul>
              </div>
              <div>
                <h5>Responsibilities:</h5>
                  <ul>
                    <li>Handle Student Loan Management</li>
                    <li>Provide customer service by taking phone calls and responding to email of Spanish with student loans</li>
                    <li>Provide student loan information to the client</li>
                    <li>Verify requirement of students applying for loans</li>
                    <li>Calculate repayment with interest</li>
                    <li>Manage payment terms</li>
                  </ul>
              </div>                                       
            </div>  
          </div> 
        </div>
        

      <div class="row">
            <div class="col-md-10 header-left"> <!-- Oferta 6 -->                
              <h4 class="inline">5. A Leading global provider of pharmaceutical products. They have 40 branches around the world. Employing 5,000 people across the globe.</h4>
              <table>
                <tr>
                  <td><strong>Position:</strong></td>
                  <td>Spanish Accounts Payable Analyst</td>                 
                </tr>
                <tr>
                  <td>Industry:</td>
                  <td>German Pharmaceutical Company</td> 
                </tr> 
                <tr>
                  <td>Location:</td>
                  <td>Taguig City</td>                 
                </tr>    
                <tr>
                  <td>Salary:</td>
                  <td>P80,000 - P90,000</td>                 
                </tr>   
                <tr>
                  <td>Schedule:</td>
                  <td>Night Shift (Weekends Off)</td>                 
                </tr>                          
                                                                  
              </table>
              <div>
                <br>
               <div>
                <h5>Requirements</h5>
                  <ul>
                    <li>Open for Native and Non- Native Spanish Speaker</li>
                    <li>BPO experience is a plus</li>
                    <li>Customer Service background is an advantage</li>
                    <li>Background in Accounts Payable, Accounting and Finance is a plus</li>
                    <li>Proficient in both Spanish and English language</li>
                  </ul>
              </div>
              <div>
                <h5>Responsibilities:</h5>
                  <ul>
                    <li>Responsible in collecting Purchase Order</li>
                    <li>Resolve price deficiency between PO and invoices</li>
                    <li>Review the general ledger and cost accounts to non-purchase order invoices</li>
                    <li>Maintains good relationship to the vendor</li>
                    <li>Answer all vendor related concerns and inquiries</li>
                  </ul>
              </div>                                       
            </div>  
        </div> 
      </div>
        
    
    <!-- END OFERTA -->

