

 <!-- ANUNCIOS PREVISTA-->
<section id="anuncios">
      <div class="container">
        <div class="row">
          
          <div class="col-md-6 wow fadeInLeft" data-wow-delay="0.5s" data-wow-duration="1s">
            <h2> Anuncios...</h2>
            <hr align="left" width="50%">
            <p><a href="anuncios.html">14 de octubre de 2018</p></a>
              <h2>Que descanse en paz Gerry Cornejo</h2>
              <br>
              <p>El lunes, 8 de octubre, perdimos otro hispanohablante, un locutor y presentador de programas de radio y un amigo. Murió de infarto mientras dormía. Estamos muy tristes de escuchar la pérdida, él podría ser un factor de influencia que puede ayudar con el uso continuo del idioma español en nuestro país. Recuerdo que a menudo habla en español en sus programas de radio, es aún más triste que se haya perdido el lanzamiento suave de nuestro sitio web.</p>
              <p>Se fue demasiado pronto pero no será olvidado. RIP Gerry!</p>
              <p>Aquí está un enlace de una de sus últimas transmisiones:<a href="https://www.facebook.com/dzrj810am/videos/1116889941811068/" target="new-tab"> 6 de octubre de 2018 </p></a>            
          </div>

          
          <div class="col-md-6 wow fadeInRight" data-wow-delay="0.5s" data-wow-duration="1s">
            
            <p class="lead">Hoy, 12 de octubre de 2018 celebramos el día de la hispanidad.</p>
            <p>Aquí está un artículo de José Mario “Pepe” Alas para brindar un saludo el día de la hispanidad.</p>
            <p>En la empresa donde trabajo en la actualidad, me alegro mucho de que tenga muchos compañeros de oficina que hablan esta "lengua de Dios". Hay númerosos hispanohablantes aquí, tanto latinoamericanos como filipinos. Tal vez más de 100, diseminados en varios departamentos. ...</p>
            <a href="Nosotros-Filipinos-somos-hispanos.html"><button type="button" class="btn-anuncios">Leer más</button>
          </div></a>

        </div> 
      </div>
    </section>

    <!-- END ANUNCIOS PREVISTA -->