---
layout: default
---

<!-- POST HTML -->
<section id="header_post">
<article id="post">
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h1>{{ page.title }}</h1>

                <!-- Author -->
                <p class="lead">
                    Por {{ page.author }}
                </p>

                <hr>

                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span> Publicado el {% include date_locale.html %}</p>
                           
                <hr>
                
                <!-- Preview Image -->
                {% if page.image %}
                <img class="img-responsive" src="{{ page.image }}" alt="{{ page.image }}" style="width:400px; height: 400px">
               	{% endif %}
                

                <hr>


                <!-- Post Content -->
                {% if page.lead %}
                <p class="lead"> {{ page.lead }}</p>
                {% endif %}
                
                <section id="article-content">                
                    {{ page.content }}
                </section>

                <hr>

                <div class="clearfix">
                {% if page.previous %}
                  <span class="previous-link">
                    <a rel="prev" href="{{ page.previous.url }}">Previous article</a>
                  </span>
                {% endif %}
                
                {% if page.next %}   
                  <span class="next-link pull-right">
                    <a rel="next" href="{{ page.next.url }}">Next article</a>
                  </span>
                {% endif %} 
                </div> 
                
                <hr>
                {% include comments.html %}                                    
               
                <hr>
            </div>

            <!-- Blog Sidebar Widgets Column -->
           <div class="col-md-4">

    <div class="well">
        <h4>Publicaciones recientes</h4>

        <ul class="list-unstyled sidebar-posts">

            {% assign current_category = page.categories | first %}

            {% for post in site.categories[current_category] %}

                <li class="sidebar-post">

                    {% if post.url == page.url %}

                        {% if post.image %}
                        <img src="{{ post.image }}" alt="{{ post.title }}" class="sidebar-thumb">
                        {% endif %}

                        <div class="sidebar-content">
                            <strong>{{ post.title }}</strong><br>
                            <small>{{ post.date | date: "%d %b %Y" }}</small>
                        </div>

                    {% else %}

                        <a href="{{ post.url }}" class="sidebar-link">
                            
                            {% if post.image %}
                            <img src="{{ post.image }}" alt="{{ post.title }}" class="sidebar-thumb">
                            {% endif %}

                            <div class="sidebar-content">
                                <strong>{{ post.title }}</strong><br>
                                <small>{{ post.date | date: "%d %b %Y" }}</small>
                            </div>

                        </a>

                    {% endif %}

                </li>

            {% endfor %}

        </ul>

        <hr>

       <!-- temporarily hide hyperlink <a href="/publicaciones/" class="btn btn-default btn-block">
            Ver todas las publicaciones → -->
        </a>

    </div>

</div>

        </div>
        <!-- /.row -->
    </div>
</article>
</section>
